[Unit]
Description=Consumer SQS task and send it to celery worker
After=network.target celeryd.service

[Service]
ExecStart=/home/ubuntu/celery/.venv/bin/python3 /home/ubuntu/celery/consumer.py
WorkingDirectory=/home/ubuntu/celery
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
