[Unit]
Description=Consumer SQS task and send it to celery worker
After=network.target celeryd.service

[Service]
ExecStart=/home/ubuntu/Celery-Multi-Worker/.venv/bin/python3 /home/ubuntu/Celery-Multi-Worker/consumer.py
WorkingDirectory=/home/ubuntu/Celery-Multi-Worker
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
